<!DOCTYPE html>
<html>
	<head>
		<title>Financial Project </title>
	</head>
	<body>
		<div>
			<h1><a href="/"> First Goal</a></h1>
			<ul>
			<h3>
				<li>Name:</li>
				<li>Priority:</li>
				<li>Amount:</li>
				<li>Type:</li>
				<li>Estimated Date:</li>
			</h3>
		</ul>
		</div>
		<div>
			<h1><a href="/"> Second Goal</a></h1>
			<ul>
			<h3>
				<li>Name:</li>
				<li>Priority:</li>
				<li>Amount:</li>
				<li>Type:</li>
				<li>Estimated Date:</li>
			</h3>
		</ul>
		</div>
		<div>
			<h1><a href=""> Third Goal</a></h1>
			<ul> <h3>
				<li>Name:</li>
				<li>Priority:</li>
				<li>Amount:</li>
				<li>Type:</li>
				<li>Estimated Date:</li>
				</h3>
			</ul>
		</div>
		<p>Hi There</p>
		<p>It Works</p>
	</body>
</html>